<div class='btn-group'>

<%= link_to (''), 'new',
    class: 'btn btn-warning fa fa-calendar-plus-o fa-2x',
    "data-toggle" => "tooltip", "data-placement" => "bottom", "title" => t('h1_training_new')
%>

<%= link_to (''), training_new_teacher_path(@training),
    class: 'btn btn-default fa fa-mortar-board fa-2x',
    #'data-toggle' => 'tooltip', 'data-placement' => 'bottom','title' => t('new_teacher')
    'data-toggle' => 'modal', 'data-target' => '#ListeModal'
%>

<%= link_to (''), training_new_board_member_path(@training),
    class: 'btn btn-default fa fa-user-circle-o fa-2x',
    'data-toggle' => 'modal', 'data-target' => '#ListeModal'
  #  "data-toggle" => "tooltip", "data-placement" => "bottom", "title" => t('new_board_member')
%>

<%= link_to (''), new_training_attendance_path(@training),
    class: 'btn btn-default fa fa-user-plus fa-2x',
    "data-toggle" => "tooltip", "data-placement" => "bottom", "title" => t('new_member_attendance')
%>


<!-- Modal -->
<div class="modal fade" id="ListeModal" tabindex="-1" role="dialog" aria-labelledby="maBelleEtiquette">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel"></h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

</div>
