                <!-- debut linkto -->
                <div class='supertoto'>
                <%= link_to attending_teachers,
                  class:'clearfix list-group-item list-group-item',
                  action: 'show', id: attending_teachers do %>

                <div class='col-xs-4'>
                  <%= attending_teachers.full_name %>
                </div>

                <div class='col-xs-4' class='background-color:lime;' >
                  zou
                  <!--
                  #link_to 'delete', training_destroy_teacher_path(@training, attending_teachers.id), method: :delete
                  -->
                </div>

                <!-- bidule ? -->
                <% end %>
                </div>
                <!-- fin linkto -->
