                <%= link_to attending_teachers,
                  class:'clearfix list-group-item list-group-item',
                  action: 'show', id: attending_teachers do %>
                <div class='col-xs-4 col-sm-3'>
                  <%= attending_teachers.full_name %>
                </div>
                <div class='col-xs-4 col-sm-3'>
                  <!-- ? -->
                </div>
                <div class='col-xs-4 col-sm-3'>
                  <!-- ? -->
                </div>
                <% end %>

