            <div class='panel'>
              <div class='panel-heading'>
                <h4 class='panel-title'>
                  <a data-toggle='collapse' data-parent='#accordion' href='#collapse<%= order_number %>'>
                    <%= t title %>
                  </a>
                </h4>
              </div>
              <div id='collapse<%= order_number %>' class='panel-collapse collapse <%= collapse ||= '' %>'>
                <div class='panel-body'>

