                <div class='row inner-list list list-group'>
                  <% if !subtitle.nil? then %>
                  <div class='list-group-item clearfix head'>
                    <%= t subtitle %>
                  </div> <!-- avant item -->
                  <% end %>
