                <div class='row inner-list list list-group'>
                  <% if subtitle %>
                  <div class='list-group-item clearfix head'>
                    <% no_results ||= false %>
                    <%= t subtitle %> <%= t 'no_results' if no_results %>
                  </div> <!-- avant item -->
                  <% end %>
