      <!-- debut layout -->
      <div class='panel'>
        <div class='panel-heading'>
          <h4 class='panel-title'>
            <a data-toggle='collapse' data-parent='#accordion' href='#collapseFour'>
              <%= t 'attendances' %>
            </a>
          </h4>
        </div>
        <div id='collapseFour' class='panel-collapse collapse'>
          <div class='panel-body'>
            <div class='row inner-list list list-group'>
              <div class='list-group-item clearfix head'>
                <%= t 'user_training_sessions' %>
              </div> <!-- avant yield -->
              <% yield %>
            </div> <!-- après yield -->
          </div>
        </div>
      </div> <!-- /panel -->
      <!-- fin layout -->
