<div class="row">
  <div class="col-md-12">
    <div class="footer">
      <div class="container">
        <div class="clearfix">
          <div class="footer-logo">
            <%= link_to root_path, class: "navbar-wagon-brand" do %>
              <%= image_tag "logo.png" %>
            <% end %>
          </div>
          <dl class="footer-nav">
            <dt class="nav-title">MEMBERS</dt>
            <dd class="nav-item"><a href="#">Link 1</a></dd>
            <dd class="nav-item"><a href="#">Link 2</a></dd>
          </dl>
          <dl class="footer-nav">
            <dt class="nav-title">TRAININGS</dt>
            <dd class="nav-item"><a href="#">Link 1</a></dd>
            <dd class="nav-item"><a href="#">Link 2</a></dd>
          </dl>
          <dl class="footer-nav">
            <dt class="nav-title">GALLERY</dt>
            <dd class="nav-item"><a href="#">Link 1</a></dd>
            <dd class="nav-item"><a href="#">Link 2</a></dd>
          </dl>
          <dl class="footer-nav">
            <dt class="nav-title">CONTACT</dt>
            <dd class="nav-item"><a href="#">Contact form</a></dd>
            <dd class="nav-item"><a href="#">Facebook page</a></dd>
            <dd class="nav-item"><a href="#">THE Tumblr!</a></dd>
          </dl>
        </div>
        <div class="footer-copyright text-center">Copyright &copy; 2016 Paris Lutte</div>
      </div>
    </div>
  </div>
</div>
