<div class="row">
  <div class="col-md-12">
    <ul class="nav nav-pills nav-justified">
      <li class="active"><a href="#"><%= t 'h1_user_show' %>: <%= user_full_name %></a></li>
    </ul>
  </div>
</div>
