<h1>Welcome on Appli-Lutte</h1>
<p><%= l(Time.now) %><p>
<p><%= t('hello') %></p>

<%#------- page bottom social buttons -------%>
<div
  class="fb-like"
  data-share="true"
  data-width="450"
  data-show-faces="true">...
</div>

<%#------- yield balise title -------%>
<% content_for(:title) do %>Appli-Lutte de Paris Lutte !<% end %>

<%#------- yield meta description -------%>
<% content_for(:description) do %>
Paris Lutte c'est bon mangez-en !
<% end %>
