// Graphical variables
@import "config/variables";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS
@import "layout/index";
@import "components/index";
@import "pages/index";
@import "vendor/index";

body { background-color: #f1f2f6}
h1,
.h1 {
  font-size: 2em;
}
h2,
.h2 {
  font-size: 1.2em;
}
h3,
.h3 {
  font-size: 1em;
}
h4,
.h4 {
  font-size: 0.8em;
}
h5,
.h5 {
  font-size: 0.7em;
}
h6,
.h6 {
  font-size: 0.6em;
}

.no_membership { @extend.label-info; }
.label-ok { @extend.label-success; }
.label-waiting { @extend.label-warning; }
.label-revoked { @extend.label-danger; }




