// Graphical variables
@import "config/variables";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS
@import "layout/index";
@import "components/index";
@import "pages/index";
@import "vendor/index";

// my colors
$pinky:                       #FF128B !default;
$bluey:                       #1F70FB !default;
$purply:                      #8F57FB !default;

$grisclair:                   #f1f2f6;
$bleutay:                     #f6fbff;

.male   {color:$pinky;border-color:$pinky;}
.female {color:$bluey;border-color:$bluey;}
.heart  {color:$purply;border-color:$purply;}

body { background-color: $grisclair}
h1,
.h1 { font-size: 2em; }
h2,
.h2 { font-size: 1.2em; }
h3,
.h3 { font-size: 1em; }
h4,
.h4 { font-size: 0.8em; }
h5,
.h5 { font-size: 0.7em; }
h6,
.h6 { font-size: 0.6em; }

.inner-list { padding-left:10px; padding-right:10px; font-size:0.9em;}
.inner-list .head{ background-color: $grisclair;}

.label-no_membership { @extend.label-default; }
.label-membership_ok { @extend.label-success; }
.label-membership_waiting { @extend.label-warning; }
.label-membership_revoked { @extend.label-danger; }

.panel-no_membership { @extend.panel-default; }
.panel-membership_ok { @extend.panel-success; }
.panel-membership_waiting { @extend.panel-warning; }
.panel-membership_revoked { @extend.panel-danger; }

.list{
  .list-group-item{
    border-color: #CCD1D9;
  }
}
.list-top{
  padding-bottom: 0;
}
.list-top>.pagination{
  margin: 6px 0 0 0;
  li span.page {
    background-color:white;
  }
  li span.page:hover {
    background-color:$bleutay;
  }
  li.active,
  li span.page.current {
      background-color: $bleutay;
      font-weight: bold;
      color: $blue;
    a {
      color: white;
    }
  }
}

.inner-accordion { margin-bottom:5px !important; }
.inner-accordion.has-warning input { background-color:white; }
.panel-heading.inner-accordion{ padding:15px; }
.panel-title a:active,
.panel-title a:focus,
.panel-title a:hover { color:black !important; font-weight:bold; }
.status span.status { font-weight: bold; }
.status span.first { font-style: italic; }

.footer-logo > .navbar-wagon-brand img { width:150px; }

i.fa-1x.block { width: 30px; }


